<div class="content_post card">
  <% if user_signed_in? && current_user.id == tweet.user_id %>
  <div class="card-image">
    <figure class="image">
      <img class="is-rounded" src="<%= tweet.image %>" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= tweet.user.nickname %></p>
        <p class="subtitle is-6">@username</p>
      </div>
    </div>
    <div class="content">
    <%= tweet.text%>
      <br>
      <time><%= simple_time(tweet[:created_at] ) %></time>
    </div>
     <ul class="more_list">
        <li>
          <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
        </li>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
          </li>
        <% end %>
  <% end %>
  </div>
</div>