<div class="contents row">
  <div class="container">
      <h3>
        投稿する
      </h3>
    <%= form_for @tweet do |f| %>
      <%= f.label "Select a file." %>
      <%= f.file_field :image %>
      <%= f.text_area :text, cols: "30", rows: "10", placeholder: "text" %>
      <%= f.submit "SENT" %>
    <% end %>
  </div>
</div>